h2{
    font-size: 1rem;
    margin: 2%;
}
.divCarta{
    width: 18%;

    display: flex;
    box-shadow: 0 0 10px 0;

    flex-flow: column nowrap;
    justify-content: space-around;
    border-radius: 1rem;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin: 2%;
    background-color: rgb(97, 206, 223);
    text-decoration: none;

}
.link{
    text-decoration: none;

}
.btnsCard{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom:-16%;
    margin-top: 0%;
    z-index: 2;
    
}
.button{
    background-color: rgb(241, 23, 23);
    width: 20%;
    padding: 1%;
    border-radius: 1rem;
}
.buttonFav{
    width: 20%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
.nombre{
    z-index: 2;
    color: darkblue;
    text-decoration: none;

}
.btn_img{
    width: 90%;
}
.characterImg{
    width: 100%;
    padding: 0%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.textInfo{
    margin-top: -0%;
}