h2{
    font-size: 1.3rem;
    margin: 2%;
}
.divCarta{
    position: relative;
    width: 20%;
    height: 30%;
    max-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    border-radius: 1rem;
    margin: 1%;
    background-color: rgba(41, 117, 98, 0.89);

}
.cardInfo{
    display:contents;
}


.btnsCard{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.button{
    position: absolute;
    background-color: rgba(237, 44, 44, 0.601);
    width: 20%;
    padding: 1%;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    margin-left: 74%;
    margin-top: 1%;
    border: 0;
}
:hover.button{
    background-color: rgba(227, 25, 25, 0.931);

}
.buttonFav{
    position: absolute;
    width: 2%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
.nombre{
    color: darkblue;
}
.btn_img{
    width: 90%;
}
.characterImg{
    border-radius: 1rem;
    width: 100%;
}

